# --- APP CONFIGS ---
PORT=3000
NODE_ENV=development

# Cole aqui sua connection string do MongoDB Atlas
MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/livraria?retryWrites=true&w=majority
